<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Web_UI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <rewrite>
      <rules>
        <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^bjornjosephson\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="https://www.bjornjosephson.com/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 89591ba6-e02c-4bc4-b381-27b51c910d4f-->