@model Web_UI.Models.Home.BlogViewModel

<link rel="stylesheet" href="~/css/blog.css"/>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @{

            foreach (var post in Model.PostModels)
            {
                <div class="post">
                    <h2 class="title">@post.Title</h2>

                    <h2 class="pubDate">@post.PubDate.ToString("MMM dd, yyyy")</h2>

                    <div class="bodyContent">
                        @Html.Raw(post.Parse())
                    </div>


                    <hr />
                </div>

            }
        }
    </div>
</div>

