

<div class="row" style="margin-top:55px;">
    <div class="col-md-6 col-md-offset-3">Nam tempor iaculis nunc eu ullamcorper. Sed quis euismod neque, a ornare nunc. 
    Nunc aliquet luctus sapien sit amet euismod. Curabitur ante velit, scelerisque nec metus id, 
    facilisis interdum arcu. Vivamus vehicula arcu lectus, sed eleifend ex volutpat nec. 
    Ut sem libero, porttitor sit amet turpis nec, pharetra fringilla quam. Mauris bibendum vitae ligula eget tristique. 
    Nam interdum dignissim auctor. Vestibulum at libero eleifend, consectetur tortor in, tempor tortor. 
    Ut porttitor libero eget metus porta, id dictum dolor accumsan. Aenean sed nibh porttitor, pulvinar odio eu, 
    tincidunt urna. Aenean molestie justo hendrerit, tincidunt velit id, viverra nibh. Donec facilisis mollis nisl, 
    et porta arcu viverra non. Praesent non lacus ac magna gravida tincidunt euismod vestibulum lacus. 
    Suspendisse non mauris volutpat, consectetur urna ut, interdum mauris.</div>
    
</div>