

<div class="row" style="margin-top:55px;">
    <div class="col-md-6 col-md-offset-4">
        <br />
        <ul>
            <li>---->11: Graduated from Rudbecksskolan, media communication/graphic design</li>
            <li>---->12: Worked with CandyKing (PickAlot) as a consultant</li>
            <li>---->13: Internship in Mozambique with freelance designer Daniela, <a target="_blank" href="https://designeid.com">designeid.com</a></li>
            <li>---->14: Moved to Sunny Malta and started working in sales</li>
            <li>---->15: Joined <a target="_blank" href="http://redexecutive.com">Red Executive</a> as a Tech Recruitment Consultant, working across EMEA</li>
            <li>---->17: Moved to Stockholm to spearhead the Technical Recruitment for  <a target="_blank" href="https://trustly.com/se/">Trustly.</a></li>
        </ul>
        
    </div>
    
</div>

<style>
    a{
        font-weight: 900;
    }
</style>