.comments {
    text-align: center;
}

.post {
    margin-top: 60px;
}

.title {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 40px;
}

.bodyContent {
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 80px;
}

.pubDate {
    font-size: 13px;
    line-height: 1em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: #bcbcbc;
    margin-bottom: 40px;
}
